@media (max-width: 550px) {

	.principal h1 {
		font-size: 1.9em;
		line-height: 41px;
	}

	.icones h2 {
		font-size: 1.3em;
		display: none;
	}

	.sobre > h2 {
		font-size: 1.2em;
		text-align: center;
		display: none;
	}

	.sobre > h2.statusH2mobile {
		display: block;
	}

	.icones > h2.statusH2desktop {
		display: none;
	}

	.principal > div {
		grid-template-columns: 320px;
	}

	.principal p {
		font-size: 1.1em;
	}

	.formacao img {
		right: 2px;
		bottom: -216px;
		width: 60%;
	}

	.cursos img {
		width: 54%;
		left: 158px;
		bottom: -331px;
	}

	.cursos h2 {
		font-size: 1.2em;
	}

	.github img {
		width: 50%;
		right: 31px;
		bottom: -222px;
	}

	.transicao h3 {
		font-size: 1em;
	}

	.transicao img {
		width: 60%;
		right: -64px;
		bottom: -202px;
	}

	#contato h1 {
		font-size: 1.6em;
		margin-bottom: 0px;
	}

	/* ícones sobre */

	.icones {
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.icone {
		animation: MotionScale 2s alternate ease-out infinite;
		width: 30px;
		height: 30px;
		background-size: 40px 40px;
	}

	.miniatura {
		margin-right: 2px;
		margin-bottom: 5px;
	}

	.repositorios {
			width: 300px;
			margin: 0 auto;
	}

	
@keyframes MotionScale {
  from {
  	visibility: visible;
  	opacity: 1;

    transform: matrix3d(
      1, 0, 0, 0,
      0, 1, 0, 0,
      0, 0, 1, 0,
      0, 15, 0, 1
    );
 
 	transition: opacity 3s cubic-bezier(0.5, 0, 0, 1) 0s, transform 3s cubic-bezier(0.5, 0, 0, 1) 0s;
  }
} 

	/* -------- navbar --------- */

	.menu {
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 50vw;
		position: fixed;
		right: -50vw;
		align-items: flex-start;
		transition: all 200ms ease-in-out;
	}

 	.button.botao-menu {
		position: fixed;
		display: grid;
		grid-template-rows: 3rem;
		z-index: 2;
		right: 2rem;
		background: #002d6c;
		color: white;
		font-size: 3rem;
		line-height: 3rem;
		width: 3rem;
		overflow: hidden;
		text-align: center;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.button.botao-menu::after {
		content: '≡';
		font-size: 3rem;
		text-align: center;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
	}

	.menu.open {
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 50vw;
		position: fixed;
		right: 0px;
		align-items: flex-start;
		transition: all 200ms ease-in-out;
	}

	.button.botao-menu.open::after {
		content: '×';
	}

}
